<!DOCTYPE html>
<html>
<head>
	<title>Vocabulary</title>
	<link rel="stylesheet" href="/styles/material-components-web.css">
</head>
<body>
	<div class="mdc-card">
	  <section class="mdc-card__primary">
	    <h1 class="mdc-card__title mdc-card__title--large" ><%= word %></h1>
	  </section>
	  <section class="mdc-card__actions">
	  	<form action = "" method = "get">
	        <input type="submit" name="next" value="NEXT" class="mdc-button mdc-button--compact mdc-card__action"/>
	    </form>
	  </section>
	</div>

	<script src="./styles/material-components-web.js"></script>
    <script>mdc.autoInit()</script>
</body>
</html>